/* Definição de Cores Padrôes */

/* Laranja Escuro: #FB7E00 */
/* Laranja Claro: #FFCC3F */

/* Cor Clara - Body: #D1DFD2 */
/* Cores Textos: #9FC089 */
/* Cores Textos: #79B4B0 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Nunito", serif;
}

/* Cabeçalho */

header{
    position: absolute;
    padding: 20px;
    display: flex;
    padding: 15px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 0;
}

header h1{
    color: #fff;
    font-weight: bold;
}

/* Corpo - Conteúdo */

body{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #D1DFD2;
    flex-direction: column;
    overflow-y: hidden;
}

.content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FB7E00;
    height: 100vh;
    width: 100vw;
    padding-bottom: 80px;
    background-image: url("../imagens/banner-fundo-horizontal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-celular-mobile{
    display: flex;
}

.container-login{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 350px;
    /* visibility: hidden; */
    background-color: #FB7E00;
    box-shadow: 0px 0px 2px 0px black;
}

.container-logotipo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    background-color: #FB7E00;
    color: #fff;
}

.container-logotipo p{
    font-weight: bold;
    font-family: "Nunito", serif;
}

.login{
    display: flex;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    background-color: #D1DFD2;
}

.container-name-inputs{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    margin: 5px;
    width: 100%;
}

.container-name-inputs p{
    font-weight: bold;
    font-size: 12px;
    font-family: "Nunito", serif;
    color: rgba(0, 0, 0, 0.453);
}

.container-inputs{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    background-color: #fff;
}

input{
    border: none;
    outline: none;
    font-size: 15px;
    width: 85%;
    font-family: "Nunito", serif;
}

#olho-fechado{
    cursor: pointer;
}

#olho-aberto{
    display: none;
}

.btn-login{
    display: flex;
    padding: 5px;
    margin-top: 10px;
    color: #fff;
    background-color: #FB7E00;
    font-family: "Nunito", serif;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-login:hover{
    background-color: #fff;
    color: #FB7E00;
    border: 1px solid #FB7E00;
}

.celular-flutuante{
    width: 100px;
    animation: subirDescer 2s ease-in-out infinite;
}

/* Loader */
    
.container-link-cadastro{
    display: flex;
    padding: 10px;
    gap: 20px;
}

.container-login{
    width: 90% auto;
}

.container-link-cadastro a{
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.container-digite-email{
    position: absolute;
    flex-direction: column;
    display: none;
    visibility: hidden;
    padding: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 600px;
    background-color: #D1DFD2;
    box-shadow: 10px 10px 10px 0px black;
    gap: 5px;
}

.container-digite-email input{
    border: none;
    outline: none;
    font-size: 15px;
    width: 85%;
    font-family: "Nunito", serif;
    padding: 10px;
    width: 400px;
    margin-bottom: 5px;
}

.container-digite-email input[type="submit"]{
    border: none;
    outline: none;
    font-size: 15px;
    width: 85%;
    font-family: "Nunito", serif;
    padding: 10px;
    width: 400px;
    margin-bottom: 5px;
    background-color: #FB7E00;
    color: #fff;
    cursor: pointer;
    transition:  0.3s ease-in-out;
}

.container-digite-email input[type="submit"]:hover{
    
    background-color: rgb(105, 105, 246);
    color: #fff;
}

#btn-fechar-container{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: red;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 769px){
    body{
        overflow-y: hidden;
    }

    .container-celular-mobile{
        display: none;
    }

    .container-digite-email{
        width: 350px;
    }

    .container-digite-email input{
        padding: 5px;
        width: 85%;
    }

    .container-digite-email input[type="submit"]{
        border: none;
        outline: none;
        font-size: 15px;
        width: 85%;
        font-family: "Nunito", serif;
        padding: 10px;
    }
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
       }
    100% {
        transform: rotate(360deg);
       }
  }

  @keyframes subirDescer {
    0% {
        transform: translateY(0); /* Começa na posição original */
    }
    50% {
        transform: translateY(-20px); /* Sobe 20px */
    }
    100% {
        transform: translateY(0); /* Volta para a posição original */
    }
}