/* Definição de Cores Padrôes */

/* Laranja Escuro: #FB7E00 */
/* Laranja Claro: #FFCC3F */

/* Cor Clara - Body: #D1DFD2 */
/* Cores Textos: #9FC089 */
/* Cores Textos: #79B4B0 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Nunito", serif;
}

/* Cabeçalho */
header{
    display: flex;
    padding: 15px 35px 15px 35px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FB7E00;
    gap: 20px;
    /* box-shadow: 10px 10px 10px 10px black; */
}

header h1{
    color: #fff;
    font-weight: bold;
}

.container-header-icons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.perfil-img{
    height: 30px;
    border-radius: 50%;
}

/* Corpo - Conteúdo */
body{
    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: center;
    background-color: #D1DFD2;
    flex-direction: column;
    overflow-y: hidden;
}

.content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    padding-top: 40px;
}

.container-header{
    display: flex;
    text-align: right;
    align-items: right;
    justify-content: right;
    width: 100%;
    padding-right: 20px;
    gap: 10px;
}

.container-header img{
  cursor: pointer;
}

.container-header img:hover{
    opacity: 0.6;
  }

/* Tabela financeira */
table{
    border: 2px solid rgba(0, 0, 0, 0.196);
}

.header-table{
    color: #fff;
    background-color: #FB7E00;
}

.header-table-columns{
    padding: 20px;
    background-color: beige;
}

.header-table th{
    padding: 20px;
}

.container-content-table{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.tabela-financeira {
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    /* width: 80%; */
    overflow-x: auto; /* Permite rolagem horizontal */
}

/* Contêiner para a tabela para permitir rolagem horizontal */
.tabela-financeira table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    table-layout: fixed; /* Para que a tabela não estique excessivamente */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #FB7E00;
    color: #fff;
}

#selecao-todas {
    cursor: pointer;
}

/* Footer - Rodapé */
/* .developer{
    bottom: 3%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.396);
    font-family: "Nunito", serif;
} */

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .tabela-financeira {
        width: 100%; /* Garantir que o contêiner ocupe toda a largura da tela */
    }

    table {
        font-size: 14px;
        /* Adicionando rolagem horizontal caso a tabela ultrapasse a largura da tela */
        display: block;
        overflow-x: auto; /* Garante a rolagem */
        white-space: nowrap; /* Evita quebra de texto nas células */
    }

    th, td {
        white-space: nowrap; /* Impede que o texto seja quebrado para várias linhas */
    }
}