/* Definição de Cores Padrôes */

/* Laranja Escuro: #FB7E00 */
/* Laranja Claro: #FFCC3F */

/* Cor Clara - Body: #D1DFD2 */
/* Cores Textos: #9FC089 */
/* Cores Textos: #79B4B0 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Nunito", serif;
}

/* Cabeçalho */

header{
    display: flex;
    padding: 15px 35px 15px 35px;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #FB7E00;
    gap: 20px;
    box-shadow: 10px 10px 10px 10px black;
}

header h1{
    color: #fff;
    font-weight: bold;
}

.container-header-icons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.perfil-img{
    height: 30px;
    border-radius: 50%;
}

/* Corpo - Conteúdo */

body{
    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: center;
    background-color: #D1DFD2;
    flex-direction: column;
    overflow-y: hidden;
}

.content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #D1DFD2;
    height: 100vh;
    width: 100vw;
}

.container-dashboard{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.dashboard{
    display: flex;
    width: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
    box-shadow: 10px 0px 100px 0px rgba(0, 0, 0, 0.167);
}

.subtitulo{
    font-size: 15px;
    font-family: "Nunito", serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.509);
}

.logotipo-dashboard{
    width: 100%;
    background-color: #FB7E00;
    padding: 20px 0px 20px 0px;
}

.logotipo-dashboard h1{
    color: #fff;
    font-family: "Nunito", serif;
    font-weight: bold;
}
.container-dashboard-rows{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.293);
    cursor: pointer;
}

.container-cols{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    border: 1px solid rgba(255, 0, 0, 0.353);
    font-family: "Nunito", serif;
}

.container-cols:hover{
    color: #fff;
    background-color: #FB7E00;
}

/* Menu lateral Mobile */
#container-menu-mobile {
    position: fixed;
    top: 0;
    left: -250px; /* Menu começando fora da tela */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out; /* Animação suave */
    z-index: 1000;
}

/* Classe que indica que o menu está visível */
#container-menu-mobile.show {
    left: 0; /* Move o menu para dentro da tela */
}
.menu-mobile{
    padding-top: 10px;
    display: flex;
    height: 100%;
    width: 250px;
    background-color: #FB7E00;
    position: absolute;
    left: 0;
    flex-direction: column;
    text-align: left;
}

#icon-abrir{
    cursor: pointer;
}

#icon-fechar{
    cursor: pointer;
}

.container-icon-mobile{
    display: flex;
    margin-bottom: 20px;
    text-align: left;
    justify-content: left;
    width: 100%;
    padding-left: 10px;
}

.menu-mobile ul li{
    border: 2px solid #ffffff1c;
    padding: 10px;
    width: 100%;
}

.menu-mobile ul li:hover{
    color: #FB7E00;
    background-color: #D1DFD2;
}

.mobile-navigation{
    color: #fff;
    font-family: "Nunito", serif;
    text-decoration: none;
    margin-bottom: 20px;
}

/* Display ao clicar na imagem de perfil  */


#container-display-perfil{
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #FB7E00;
    position: absolute;
    top: 7%;
    right: 0;
}

#container-display-perfil ul li a{
    text-decoration: none;
    color: #fff;
    width: 100%;
}

#container-display-perfil ul li{
    padding: 10px;
    list-style: none;
    width: 100%;
    border: 1px solid #fff;
}
@media(min-width: 320px) and (max-width: 768px) {
    .dashboard{
        display: flex;
        width: 350px;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 20px;
        flex-direction: column;
    }
}